{% extends 'base.html.twig' %}

{% block title 'Mon Agence Immobilière' %}
{% block body %}


    <div class="jumbotron text-center">

        <h1>Mon agence </h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda aut beatae delectus deserunt eaque esse eum incidunt iste iusto labore nihil possimus repellendus reprehenderit vel veniam, veritatis. Beatae, sunt!</p>

    </div>



{% endblock %}